@import '../constants/color.scss';

.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  
    .list_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      padding: 15px;
      border-radius: 5px;
      font-size: 24px;
      cursor: pointer;
      transition: transform 0.3s;
  
      p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        color: white;
        font-style: normal;
      }
  
      svg {
        transform: rotate(0);
        transition: transform 0.3s;
      }
  
      &.active svg {
        transform: rotate(180deg);
      }
    }
  
    .collapse_content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
  
      &.open {
        max-height: 500px;
      }
  
      p {
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 5px;
        color: #555;
        margin: 0;
      }
  
      ul {
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 5px;
        color: #555;
        margin: 0;
        list-style-type: none;
  
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
  